
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mx-3">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" id="page-header">Tài khoản</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="/Dashboard/DashboardView">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="javascript: void(0);">Danh mục</a></li>
                    <li class="breadcrumb-item active" id="nav_danhmuc">Tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row mx-1" style="border:none">
    <div class="col-12">
        <div class="card ms-3">
            <div class="card-body">
                <!--input search-->
                <div class="row mb-2" id="row_one">
                    <div class="col-sm-6 col-lg-3 mb-1">
                        <p class="mb-1 fw-bold text-muted">Từ khóa</p>
                        <input type="search" class="form-control" id="searchTenAccount" placeholder="Nhập từ khóa cần tìm" />
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1"  id="zone_company">
                        <p class="mb-1 fw-bold text-muted">Công ty</p>
                        <select id="searchDropCongTy" class="form-control select2" data-placeholder="Chọn công ty">
                            <option value="">-- Chọn công ty --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" id="zone_CoSo">
                        <p class="mb-1 fw-bold text-muted">Cơ sở</p>
                        <select id="searchDropCoSo" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div> 
                    <div class="col-sm-6 col-lg-3 mb-1" id="z_trangthai">
                        <p class="mb-1 fw-bold text-muted">Trạng thái</p>
                        <select id="DropTrangThai" class="form-control select2" data-no-search>
                            <option value="1">Đang hoạt động </option>
                            <option value="2">Đã xoá </option>
                        </select>
                    </div>
                </div>
                <!--action search-->
                <div class="row mb-2">
                    <div class="col-sm-5 col-6">
                        <button type="button" class="btn btn-success mb-2 me-sm-1" id="btnTimKiem"><i class="fa-solid fa-magnifying-glass me-1"></i>Tìm kiếm</button>
                        <button type="button" class="btn btn-secondary mb-2" id="btnHuyTimKiem"><i class="fa-solid fa-rotate me-1"></i>Hủy tìm kiếm</button>
                    </div>
                    <div class="col-sm-7 col-6">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 ms-sm-1" id="btnThemMoi"><i class="fa-solid fa-circle-plus me-1"></i>Thêm mới</button>
                            <button type="button" class="btn btn-secondary mb-2 ms-sm-1" id="btnRecycleBin"><i class="uil uil-trash-alt"></i>Thùng rác</button>
                        </div>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-body table-responsive-sm table-centered table-hover tbl-pagination">
                        <table id="tbldata" class="table table-bordered table-striped border-bottom-0 mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center" hidden="hidden">Id</th>
                                    <th style="width: 30px" class="text-center">Stt</th>
                                    <th class="text-center">Tên Tài khoản</th>
                                    <th class="text-center">Thuộc công ty</th>
                                    <th class="text-center">Gmail</th>
                                    <th class="text-center">Mật khẩu</th>
                                    <th class="text-center" style="width: 100px">Tình trạng</th>
                                    <th style="width: 30px">Sửa</th>
                                    <th style="width: 30px">Xóa</th>
                                    <th style="width: 30px; text-align: center">
                                        <input type="checkbox" class="form-check-input" name="chkSelectAll" id="chkSelectAll" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows will be appended here -->
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thêm mới danh mục Phòng ban</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label id="lbName" for="Name" class="form-label">Họ và tên (*)</label>
                        <input type="text" id="Name" class="form-control" placeholder="Họ và tên" required="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label id="lbCompanyName" for="company_name" class="form-label">Tên doanh nghiệp (*)</label>
                        <input type="text" id="company_name" disabled="disabled" class="form-control" placeholder="Nhập tên doanh nghiệp" required="" />
                    </div>
                </div>  
                <div class="row">
                    <div class="col-12">
                        <label id="lbGmail" for="Gmail" class="form-label">Email (*)</label>
                        <input type="email" disabled="disabled" id="Gmail" class="form-control" placeholder="Email" required="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label id="lbPassword" for="Password" class="form-label">Mật khẩu (*)</label>
                        <input id="Password" class="form-control" placeholder="Mật khẩu" required="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label id="lbRePassword" for="rePassword" class="form-label">Nhập lại mật khẩu (*)</label>
                        <input  id="rePassword" class="form-control" placeholder="Nhập lại mật khẩu" required="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-success" id="btnSave">
                    <i class="bi bi-floppy me-2"></i>Lưu
                </button> 
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/JS/DanhMuc/Account.js"></script>
    <script>
        $(document).ready(function () {
            var AccountInstance = new Account();
            AccountInstance.init();
        });
    </script>
}