
@{
    ViewBag.Title = "Danh sách khen thưởng kỷ luật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mx-3">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" id="page-header">Khen thưởng- kỷ luật</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="/Dashboard/DashboardView">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="javascript: void(0);">Lương thưởng</a></li>
                    <li class="breadcrumb-item active" id="nav_danhmuc">Danh sách quyết định khen thưởng- kỷ luật</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row mx-1" style="border:none">
    <div class="col-12">
        <div class="card ms-3">
            <div class="card-body">
                <!--input search-->
                <div class="row mb-2" id="first_row">
                    <div class="col-sm-6 col-lg-3 mb-1">
                        <p class="mb-1 fw-bold text-muted">Từ khóa</p>
                        <input type="search" class="form-control" id="searchTuKhoa" placeholder="Nhập từ khóa cần tìm" />
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_company">
                        <p class="mb-1 fw-bold text-muted">Công ty</p>
                        <select id="searchDropCongTy" class="form-control select2" data-placeholder="Chọn công ty">
                            <option value="">-- Chọn công ty --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_CoSo">
                        <p class="mb-1 fw-bold text-muted">Cơ sở</p>
                        <select id="searchDropCoSo" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_PhongBan">
                        <p class="mb-1 fw-bold text-muted">Phòng ban</p>
                        <select id="searchDropPhongBan" class="form-control select2" data-placeholder="Chọn phòng ban">
                            <option value="">-- Chọn phòng ban --</option>
                        </select>
                    </div>
                </div>
                <div id="dieukientimkiem" style="display: none">
                    <div class="row mb-0"> 
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_TinhTrang">
                            <p class="mb-1 fw-bold text-muted">Tình trạng quyết định</p>
                            <select id="DropTinhTrang_search" class="form-control select2" data-no-search>
                                <option value="">--- Chọn giá trị --- </option>
                                <option value="1">Được đề xuất </option> 
                                <option value="2">Đã được duyệt  </option>
                                <option value="3">Từ chối duyệt </option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_HinhThuc">
                            <p class="mb-1 fw-bold text-muted">Hình thức</p>
                            <select id="DropHinhThuc" class="form-control select2" data-no-search>
                                <option value="">--- Chọn giá trị --- </option> 
                                <option value="1">Khen thưởng </option>
                                <option value="2">Kỷ luật</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_TrangThai">
                            <p class="mb-1 fw-bold text-muted">Trạng thái</p>
                            <select id="DropTrangThai" class="form-control select2" data-no-search>
                                <option value="1">Đang hoạt động </option>
                                <option value="2">Đã xoá </option>
                            </select>
                        </div>
                    </div>
                </div>
                @*nút mở rộng tk*@
                <div class="col-lg-12" style="text-align: right">
                    <button id="btnAnDieuKien" type="button" class="btn btn-link text-decoration-none text-success"
                            style="padding-right: 0px; padding-top: 0px;">
                        <i class="fa-solid fa-arrow-down-wide-short me-1"></i>Hiển thị thêm
                    </button>
                </div>

                <!--action search-->
                <div class="row mb-2">
                    <div class="col-sm-5 col-6">
                        <button type="button" class="btn btn-success mb-2 me-sm-1" id="btnTimKiem"><i class="fa-solid fa-magnifying-glass me-1"></i>Tìm kiếm</button>
                        <button type="button" class="btn btn-secondary mb-2 me-1" id="btnHuyTimKiem"><i class="fa-solid fa-rotate me-1"></i>Hủy tìm kiếm</button>
                        <button type="button" class="btn btn-success mb-2" id="btnMyCV"><i class="bi bi-person-lines-fill me-1"></i>Quyết định của tôi</button>
                    </div>
                    <div class="col-sm-7 col-6" id="zone_btnCRUD">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 ms-sm-1" id="btnThemMoi"><i class="fa-solid fa-circle-plus me-1"></i>Thêm mới</button>
                            <button type="button" class="btn btn-secondary mb-2 ms-sm-1" id="btnRecycleBin"><i class="bi bi-trash me-1"></i>Thùng rác</button>
                        </div>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-body table-responsive-sm table-centered table-hover tbl-pagination">
                        <table id="tbldata" class="table table-bordered table-striped border-bottom-0 mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center" hidden="hidden">Id</th>
                                    <th style="width: 30px" class="text-center">Stt</th>
                                    <th class="text-center">Mã quyết định</th>
                                    <th class="text-center">Tên quyết định</th>
                                    <th class="text-center">Người tạo/ duyệt</th>
                                    <th class="text-center">Hình thức</th>
                                    <th class="text-center">Số quyết định</th>
                                    <th class="text-center">Ngày quyết định</th>
                                    <th class="text-center">Tình trạng</th>
                                    <th style="width: 30px">NB</th>
                                    <th style="width: 30px">Sửa</th>
                                    <th style="width: 30px">Xóa</th>
                                    <th style="width: 30px; text-align: center">
                                        <input type="checkbox" class="form-check-input" name="chkSelectAll" id="chkSelectAll" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows will be appended here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal CRUD -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thêm mới quyết định</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <!-- Row 1 -->
                <div class="row mb-2" id="row_1">
                    <div class="col-6" id="col_MaKTKL">
                        <label id="lbMaKT_KL" for="txtMaKT_KL" class="form-label">Mã quyết định (*)</label>
                        <input type="text" id="txtMaKT_KL" class="form-control" disabled="disabled" placeholder="Mã tự sinh" required="" />
                    </div>
                    <div class="col-6" id="col_TenKTKL">
                        <label id="lbTenKTKL" for="txtTenKTKL" class="form-label">Tên quyết định (*)</label>
                        <input type="text" id="txtTenKTKL" class="form-control" placeholder="Nhập tên  quyết định" required="" />
                    </div>
                </div>
                <!-- Row 1 -->
                <div class="row mb-2" id="row_1">
                    <div class="col-6" id="col_MaKTKL">
                        <label id="lbSoQuyetDinh" for="txtSoQuyetDinh" class="form-label">Số quyết định (*)</label>
                        <input type="text" id="txtSoQuyetDinh" class="form-control" placeholder="Nhập số quyết định" required="" />
                    </div>
                    <div class="col-6" id="col_TenKTKL">
                        <label id="lbNgayQuyetDinh" for="txtNgayQuyetDinh" class="form-label">Ngày quyết định (*)</label>
                        <input type="text" id="txtNgayQuyetDinh" data-suggest="txtNgayBatDau" onfocus="this.select()" class="form-control pickerDate" placeholder="DD/MM/YYYY" data-single-date-picker="true" data-toggle="input-mask" data-mask-format="00/00/0000" value="" />
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="row mb-2" id="row_4">
                    <div class="col-6" id="col_TinhTrang">
                        <label id="lbDropTinhTrang" for="editDropTinhTrang" class="form-label">Tình trạng</label>
                        <select id="editDropTinhTrang" class="form-control select2" data-no-search>
                            <option value="">--- Chọn giá trị --- </option> 
                            <option value="1">Được đề xuất </option>
                            <option value="2">Đã được duyệt  </option>
                            <option value="3">Từ chối duyệt </option>
                        </select>
                    </div>
                    <div class="col-6" id="col_HInhThuc">
                        <label id="lbDropHinhThuc" for="editDropHinhThuc" class="form-label">Hình thức (*)</label>
                        <select id="editDropHinhThuc" class="form-control select2" data-no-search>
                            <option value="1">Khen thưởng </option>
                            <option value="2">Kỷ luật</option>
                        </select>
                    </div>
                </div>
                <!-- Row 5 -->
                <div class="row mb-2" id="row_5">
                    <div class="col-12" id="col_MoTa">
                        <label id="lbMoTa" for="txtMoTa" class="form-label">Mô tả chi tiết (*)</label>
                        <textarea class="custom-textarea" rows="1" id="txtMoTa" placeholder="Nhập mô tả"></textarea>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row mb-0" id="row_2">
                    <div class="col-6" id="col_tbl_CompanyId" hidden>
                        <label id="lb_tbl_CompanyId" for="Drop_tbl_CompanyId" class="form-label">Công ty (*)</label>
                        <select id="Drop_tbl_CompanyId" class="form-control select2" data-placeholder="Chọn công ty">
                            <option value="">-- Chọn công ty --</option>
                        </select>
                    </div>
                    <div class="col-6" id="col_tbl_CoSoId" hidden>
                        <label id="lb_tbl_CoSoId" for="Drop_tbl_CoSoId" class="form-label">Cơ sở (*)</label>
                        <select id="Drop_tbl_CoSoId" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div>
                </div>
                <!-- Row 3 -->
                <div class="row" id="row_3">
                    <div class="col-6" id="col_tbl_PhongBanId" hidden>
                        <label id="lb_tbl_PhongBanId" for="Drop_tbl_PhongBanId" class="form-label">Phòng ban (*)</label>
                        <select id="Drop_tbl_PhongBanId" class="form-control select2" data-placeholder="Chọn phòng ban">
                            <option value="">-- Chọn phòng ban --</option>
                        </select>
                    </div>
                    <div class="col-6" id="col_tbl_NhanSuId">
                        <label id="lb_tbl_NhanSuId" for="Drop_tbl_NhanSuId" class="form-label">Quyết định với (*)</label>
                        <select id="Drop_tbl_NhanSuId" class="form-control select2" data-placeholder="Chọn nhân sự">
                            <option value="">-- Chọn nhân sự --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-success" id="btnSave">
                    <i class="bi bi-floppy me-2"></i>Lưu
                </button>
                <button type="button" class="btn btn-success" id="btnSaveAndNew">
                    <i class="bi bi-plus-circle me-2"></i>Lưu và Thêm mới
                </button>
            </div>
        </div>
    </div>
</div>

<!-- end modal-->

@section Scripts {
    <script src="~/JS/LuongThuong/KhenThuongKyLuat.js"></script>
    <script>
        $(document).ready(function () {
            var KhenThuongKyLuatInstance = new KhenThuongKyLuat();
            KhenThuongKyLuatInstance.init();
        });
    </script>
}