
@{
    ViewBag.Title = "DashboardView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <p>hehehehhe</p>

 <script>
     $(document).ready(function () { 
         Core.showToast("This is a test message", "success"); 
     }); 
 </script>