@{
    ViewBag.Title = "DashboardView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
        background-color: #fff;
        flex: 1;
    }

    .card-title {
        font-size: 1rem;
        color: #6c757d;
        margin-bottom: 10px;
        text-align: left;
    }

    .card-icon-number {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .card-icon {
        font-size: 1.5rem;
        color: #6c757d;
        margin-right: 10px;
    }

    .card-number {
        font-size: 2rem;
        color: #343a40;
    }

    .card-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
</style>

<div class="container mt-5">
    <h2 class="text-success">Thống Kê</h2>
    <div class="container mt-2 mb-3">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Tổng số công ty</div>
                    <div class="card-icon-number">
                        <div class="card-icon"><i class="fa-solid fa-building"></i></div>
                        <div class="card-number" id="congty"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Tổng số cơ sở</div>
                    <div class="card-icon-number">
                        <div class="card-icon"><i class="fa-solid fa-code-branch"></i></div>
                        <div class="card-number" id="coso"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Tổng số phòng ban</div>
                    <div class="card-icon-number">
                        <div class="card-icon"><i class="bi bi-people-fill"></i></div>
                        <div class="card-number" id="phongban"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Tổng số tài khoản</div>
                    <div class="card-icon-number">
                        <div class="card-icon"><i class="bi bi-person-check-fill"></i></div>
                        <div class="card-number" id="taikhoan"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Lương tháng này</div>
                    <div class="card-icon-number">
                        <div class="card-icon"><i class="fa-solid fa-money-check-dollar"></i></div>
                        <div class="card-number" id="luong"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row for Pie Charts -->
    <div class="row text-center">
        <div class="col-md-4">
            <canvas id="pieChart1"></canvas>
            <p>Nhân sự</p>
        </div>
        <div class="col-md-4">
            <canvas id="pieChart2"></canvas>
            <p>Phòng ban</p>
        </div>
        <div class="col-md-4">
            <canvas id="pieChart3"></canvas>
            <p>Công việc</p>
        </div>
    </div>

    <!-- Row for Bar Charts -->
    <div class="row text-center mt-4">
        <div class="col-md-6">
            <canvas id="barChart1"></canvas>
            <p>Biểu số lượng công việc</p>
        </div>
        <div class="col-md-6">
            <canvas id="barChart2"></canvas>
            <p>Biểu đồ lương thưởng</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section Scripts {
    <script src="~/JS/Dashboard/Dashboard.js"></script>
    <script>
        $(document).ready(function () {
            var DashboardInstance = new Dashboard();
            DashboardInstance.init();
        });
    </script>
} 
