
@{
    ViewBag.Title = "Tuyển dụng & bổ sung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mx-3 my-2">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" id="page-header">Tuyển dụng & bổ sung</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="/Dashboard/DashboardView">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="javascript: void(0);">Tuyển dụng & bổ sung</a></li>
                    <li class="breadcrumb-item active" id="nav_danhmuc">Danh sách Tuyển dụng & bổ sung</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row mx-1" style="border:none">
    <div class="col-12">
        <div class="card ms-3">
            <div class="card-body">
                <!--input search-->
                <div class="row mb-2" id="first_row">
                    <div class="col-sm-6 col-lg-3 mb-1">
                        <p class="mb-1 fw-bold text-muted">Từ khóa</p>
                        <input type="search" class="form-control" id="searchTuKhoa" placeholder="Nhập từ khóa cần tìm" />
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_company">
                        <p class="mb-1 fw-bold text-muted">Công ty</p>
                        <select id="searchDropCongTy" class="form-control select2" data-placeholder="Chọn công ty">
                            <option value="">-- Chọn công ty --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_CoSo">
                        <p class="mb-1 fw-bold text-muted">Cơ sở</p>
                        <select id="searchDropCoSo" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" id="zone_PhongBan">
                        <p class="mb-1 fw-bold text-muted">Phòng ban</p>
                        <select id="searchDropPhongBan" class="form-control select2" data-placeholder="Chọn phòng ban">
                            <option value="">-- Chọn phòng ban --</option>
                        </select>
                    </div>
                </div>
                <div id="dieukientimkiem" style="display: none">
                    <div class="row mb-0">
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_ChucVu">
                            <p class="mb-1 fw-bold text-muted">Chức vụ</p>
                            <select id="searchDropChucVu" class="form-control select2" data-placeholder="Chọn chức vụ">
                                <option value="">-- Chọn chức vụ --</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_TinhTrang">
                            <p class="mb-1 fw-bold text-muted">Tình trạng</p>
                            <select id="DropTinhTrang_search" class="form-control select2" data-no-search>
                                <option value="">Chọn giá trị</option>
                                <option value="1">Chờ xét duyệt</option>
                                <option value="2">Đã duyệt(Đang tuyển) </option>
                                <option value="3">Hoàn thành </option>
                                <option value="4">Từ chối duyệt</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1" id="z_TrangThai">
                            <p class="mb-1 fw-bold text-muted">Trạng thái</p>
                            <select id="DropTrangThai" class="form-control select2" data-no-search>
                                <option value="1">Đang hoạt động </option>
                                <option value="2">Đã xoá </option>
                            </select>
                        </div>
                    </div>
                </div>
                @*nút mở rộng tk*@
                <div class="col-lg-12" style="text-align: right">
                    <button id="btnAnDieuKien" type="button" class="btn btn-link text-decoration-none text-success"
                            style="padding-right: 0px; padding-top: 0px;">
                        <i class="fa-solid fa-arrow-down-wide-short me-1"></i>Hiển thị thêm
                    </button>
                </div>

                <!--action search-->
                <div class="row mb-2">
                    <div class="col-sm-5 col-6">
                        <button type="button" class="btn btn-success mb-2 me-sm-1" id="btnTimKiem"><i class="fa-solid fa-magnifying-glass me-1"></i>Tìm kiếm</button>
                        <button type="button" class="btn btn-secondary mb-2" id="btnHuyTimKiem"><i class="fa-solid fa-rotate me-1"></i>Hủy tìm kiếm</button>
                    </div>
                    <div class="col-sm-7 col-6">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 ms-sm-1" id="btnXetDuyet_HSNS"><i class="bi bi-check-circle me-1"></i>Xét duyệt yêu cầu</button>
                            <button type="button" class="btn btn-success mb-2 ms-sm-1" id="btnThemMoi"><i class="fa-solid fa-circle-plus me-1"></i>Thêm mới</button>
                            <button type="button" class="btn btn-secondary mb-2 ms-sm-1" id="btnRecycleBin"><i class="uil uil-trash-alt me-1"></i>Thùng rác</button>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body table-responsive-sm table-centered table-hover tbl-pagination">
                        <table id="tbldata" class="table table-bordered table-striped border-bottom-0 mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center" hidden="hidden">Id</th>
                                    <th style="width: 30px" class="text-center">Stt</th>
                                    <th class="text-center">Mã tuyển dụng</th>
                                    <th class="text-center">Tên tuyển dụng</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">Phòng ban</th>
                                    <th class="text-center">Chức vụ</th>
                                    <th class="text-center">Trạng thái yêu cầu</th>
                                    <th style="width: 30px" id="col_NB">NB</th>
                                    <th style="width: 30px" id="col_Sua">Sửa</th>
                                    <th style="width: 30px" id="col_Xoa">Xóa</th>
                                    <th style="width: 30px; text-align: center">
                                        <input type="checkbox" class="form-check-input" name="chkSelectAll" id="chkSelectAll" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows will be appended here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal duyệt -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Xét duyệt yêu cầu</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                @*<div class="row">
                    <div class="col-12">
                        <label id="lbGhiChu" for="txtGhiChu" class="form-label">Lý do</label>
                        <input type="text" id="txtGhiChu" class="form-control" placeholder="Nhập lý do" />
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-12">
                        <label id="lbTinhTrang" for="DropTinhTrang_Duyet" class="form-label">Tình trạng xét duyệt (*)</label>
                        <select id="DropTinhTrang_Duyet" class="form-control select2" data-no-search>
                            <option value="">--- Chọn tình trạng --- </option>
                            <option value="2">Đã duyệt(Đang tuyển)</option>
                            <option value="3">Hoàn thành</option>
                            <option value="4">Từ chối duyệt</option>
                        </select>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 text-primary" style="font-size: large">
                        <i class="bi bi-info-circle-fill"></i>
                        <label class="col-form-label" id="LuuY">Lưu ý</label>
                    </div>
                    <div class="col-12">
                        <p><i>- Khi yêu cầu tuyển dụng được chuyển sang trạng thái hoàn thành bạn sẽ không thể thay đổi được thông tin</i></p> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-success" id="btnSave">
                    <i class="bi bi-floppy me-2"></i>Duyệt
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end modal-->

@section Scripts {
    <script src="~/JS/NhanSu/ListTuyenDung.js"></script>
    <script>
        $(document).ready(function () {
            var ListTuyenDungInstance = new ListTuyenDung();
            ListTuyenDungInstance.init();
        });
    </script>
}