
@{
    ViewBag.Title = "Thông tin nhân sự";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mx-3 my-2">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" id="page-header">Nhân sự</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="/Dashboard/DashboardView">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none text-success" href="javascript: void(0);">Nhân sự</a></li>
                    <li class="breadcrumb-item active" id="nav_danhmuc">Danh sách nhân sự</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row mx-1" style="border:none">
    <div class="col-12">
        <div class="card ms-3">
            <div class="card-body">
                <!--input search-->
                <div class="row mb-2" id="first_row">
                    <div class="col-sm-6 col-lg-3 mb-1">
                        <p class="mb-1 fw-bold text-muted">Từ khóa</p>
                        <input type="search" class="form-control" id="searchTuKhoa" placeholder="Nhập từ khóa cần tìm" />
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_company">
                        <p class="mb-1 fw-bold text-muted">Công ty</p>
                        <select id="searchDropCongTy" class="form-control select2" data-placeholder="Chọn công ty">
                            <option value="">-- Chọn công ty --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" hidden="hidden" id="zone_CoSo">
                        <p class="mb-1 fw-bold text-muted">Cơ sở</p>
                        <select id="searchDropCoSo" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1" id="zone_PhongBan">
                        <p class="mb-1 fw-bold text-muted">Phòng ban</p>
                        <select id="searchDropPhongBan" class="form-control select2" data-placeholder="Chọn phòng ban">
                            <option value="">-- Chọn phòng ban --</option>
                        </select>
                    </div>
                </div>
                <div id="dieukientimkiem" style="display: none">
                    <div class="row mb-0" id="row_hidden">
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_ChucVu">
                            <p class="mb-1 fw-bold text-muted">Chức vụ</p>
                            <select id="searchDropChucVu" class="form-control select2" data-placeholder="Chọn chức vụ">
                                <option value="">-- Chọn chức vụ --</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_QueQuan">
                            <p class="mb-1 fw-bold text-muted">Quê quán</p>
                            <select id="searchDropQueQuan" class="form-control select2" data-placeholder="Chọn quê quán">
                                <option value="">-- Chọn quê quán --</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1" id="zone_TinhTrang">
                            <p class="mb-1 fw-bold text-muted">Tình trạng</p>
                            <select id="DropTinhTrang_search" class="form-control select2" data-no-search>
                                <option value="">Chọn giá trị</option>
                                <option value="0">Trong quá trình tuyển dụng</option>
                                <option value="1">Khởi tạo (chờ xét duyệt)</option>
                                <option value="2">Hoạt động (đang làm việc) </option>
                                <option value="3">Từ chối duyệt (nghỉ việc) </option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-1">
                            <p class="mb-1 fw-bold text-muted">Trạng thái</p>
                            <select id="DropTrangThai" class="form-control select2" data-no-search>
                                <option value="1">Đang hoạt động </option>
                                <option value="2">Đã xoá </option>
                            </select>
                        </div>
                    </div>
                </div>
                @*nút mở rộng tk*@
                <div class="col-lg-12" style="text-align: right">
                    <button id="btnAnDieuKien" type="button" class="btn btn-link text-decoration-none text-success"
                            style="padding-right: 0px; padding-top: 0px;">
                        <i class="fa-solid fa-arrow-down-wide-short me-1"></i>Hiển thị thêm
                    </button>
                </div>

                <!--action search-->
                <div class="row mb-2">
                    <div class="col-sm-5 col-6">
                        <button type="button" class="btn btn-success mb-2 me-sm-1" id="btnTimKiem"><i class="fa-solid fa-magnifying-glass me-1"></i>Tìm kiếm</button>
                        <button type="button" class="btn btn-secondary mb-2" id="btnHuyTimKiem"><i class="fa-solid fa-rotate me-1"></i>Hủy tìm kiếm</button>
                    </div>
                    <div class="col-sm-7 col-6">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-secondary mb-2 ms-sm-1" id="btnDieuChuyen"><i class="fa-regular fa-circle-up me-1"></i>Điều chuyển/Thăng chức</button>
                            <button type="button" class="btn btn-secondary mb-2 ms-sm-1" id="btnBoSung_NhanSu"><i class="bi bi-person-add me-1"></i>Bổ sung nhân sự</button>
                            <button type="button" class="btn btn-success mb-2 ms-sm-1" id="btnXetDuyet_HSNS"><i class="bi bi-check-circle me-1"></i>Xét duyệt hồ sơ</button>
                            <button type="button" class="btn btn-success mb-2 ms-sm-1" id="btnThemMoi"><i class="fa-solid fa-circle-plus me-1"></i>Thêm mới</button>
                            <button type="button" class="btn btn-secondary mb-2 ms-sm-1" id="btnRecycleBin"><i class="uil uil-trash-alt"></i>Thùng rác</button>
                        </div>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-body table-responsive-sm table-centered table-hover tbl-pagination">
                        <table id="tbldata" class="table table-bordered table-striped border-bottom-0 mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center" hidden="hidden">Id</th>
                                    <th style="width: 30px" class="text-center">Stt</th>
                                    <th class="text-center">Mã Nhân sự</th>
                                    <th class="text-center">Tên Nhân sự</th>
                                    <th class="text-center">Ngày sinh</th>
                                    <th class="text-center">Phòng ban</th>
                                    <th class="text-center">Chức vụ</th>
                                    <th class="text-center">Tình trạng hồ sơ</th>
                                    <th style="width: 30px" id="col_NB">NB</th>
                                    <th style="width: 30px" id="col_Sua">Sửa</th>
                                    <th style="width: 30px" id="col_Xoa">Xóa</th>
                                    <th style="width: 30px; text-align: center">
                                        <input type="checkbox" class="form-check-input" name="chkSelectAll" id="chkSelectAll" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows will be appended here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal duyệt -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Xét duyệt nhân sự</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label id="lbGhiChu" for="txtGhiChu" class="form-label">Lý do</label>
                        <input type="text" id="txtGhiChu" class="form-control" placeholder="Nhập lý do" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label id="lbTinhTrang" for="DropTinhTrang_Duyet" class="form-label">Tình trạng xét duyệt (*)</label>
                        <select id="DropTinhTrang_Duyet" class="form-control select2" data-no-search>
                            <option value="">--- Chọn tình trạng --- </option>
                            <option value="2">Hoạt động (đang làm việc) </option>
                            <option value="3">Từ chối duyệt (nghỉ việc) </option>
                        </select>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 text-primary" style="font-size: large">
                        <i class="bi bi-info-circle-fill"></i>
                        <label class="col-form-label" id="LuuY">Lưu ý</label>
                    </div>
                    <div class="col-12">
                        <p><i>- Khi thay đổi tình trạng của nhân sự cũng sẽ thay đổi tình trạng hợp đồng của nhân sự và ảnh hưởng đến danh sách lương và chấm công!</i></p>
                        <p><i>- Nếu xét duyệt với tình trạng Từ chối duyệt (nghỉ việc) thì thông tin lý do sẽ được lưu vào phần ghi chú của nhân sự!</i></p>
                        <p><i>- Tình trạng sử dụng tài khoản của nhân sự cũng sẽ thay đổi theo tình trạng của hồ sơ xét duyệt!</i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-success" id="btnSave">
                    <i class="bi bi-floppy me-2"></i>Duyệt
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end modal-->
<!-- Modal yêu cầu bổ sung NS -->
<div class="modal fade" id="staticBackdrop_BoSungNS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel_BSNS">Thêm mới yêu cầu bổ sung nhân sự</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label id="lbGYeuCau" for="txtYeuCau" class="form-label">Tên yêu cầu (*)</label>
                        <input type="text" id="txtYeuCau" class="form-control" placeholder="Nhập tên yêu cầu" />
                    </div>
                </div> 
                <div class="row">
                    <div class="col-6">
                        <label id="lbSoLuongYC" for="txtSoLuongYC" class="form-label">Số lượng yêu cầu (*)</label>
                        <input type="number" id="txtSoLuongYC" class="form-control" placeholder="Nhập số lượng yêu cầu" />
                    </div>
                    <div class="col-6">
                        <label id="lbNgayHoanTatYC" for="txtNgayHoanTatYC" class="form-label">Ngày hoàn tất yêu cầu (*)</label>
                        <input type="text" id="txtNgayHoanTatYC" data-suggest="txtNgayHoanTatYC" onfocus="this.select()" class="form-control pickerDate" placeholder="DD/MM/YYYY" data-single-date-picker="true" data-toggle="input-mask" data-mask-format="00/00/0000" value="" />
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-6">
                        <label id="lbMoTaYC" for="txtMoTaYC" class="form-label">Mô tả cho vị trí yêu cầu (*)</label>
                        <textarea class="custom-textarea" id="txtMoTaYC" placeholder="Nhập mô tả"></textarea>
                    </div>
                    <div class="col-6">
                        <label id="lbYeuCauYC" for="txtYeuCauYC" class="form-label">Yêu cầu đối với vị trí cần bổ sung (*)</label>
                        <textarea class="custom-textarea" id="txtYeuCauYC" placeholder="Nhập yêu cầu"></textarea>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12">
                        <label id="lbChucVuYC" for="DropChucVuYC" class="form-label">Chức vụ (*)</label>
                        <select id="DropChucVuYC" class="form-control select2" data-placeholder="Chọn chức vụ">
                            <option value="">-- Chọn chức vụ --</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label id="lbPhongBanYC" for="DropPhongBanYC" class="form-label">Phòng ban (*)</label>
                        <select id="DropPhongBanYC" disabled="disabled" class="form-control select2" data-placeholder="Chọn phòng ban">
                            <option value="">-- Chọn phòng ban --</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label id="lbCoSoYC" for="DropCoSoYC" class="form-label">Cơ sở (*)</label>
                        <select id="DropCoSoYC" disabled="disabled" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div>
                </div> 
                <div class="row my-3">
                    <div class="col-12 text-primary" style="font-size: large">
                        <i class="bi bi-info-circle-fill"></i>
                        <label class="col-form-label" id="LuuY">Lưu ý</label>
                    </div>
                    <div class="col-12">
                        <p><i>- Sau khi bạn ấn nút tạo yêu cầu, thông tin về yêu cầu bổ sung nhân sự của bạn sẽ được chuyển sang mục Tuyển dụng & Bổ sung!</i></p>
                        <p><i>- Bạn có thể theo dõi quá trình của yêu cầu và khi có nhân sự/ứng viên mới sẽ xuất hiện trong danh sách nhân sự do bạn quản lý</i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-success" id="btnYeuCau">
                    <i class="bi bi-floppy me-2"></i>Tạo yêu cầu
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end modal-->

<!-- Modal điều chuyển, thăng chức NS -->
<div class="modal fade" id="staticBackdrop_DieuChuyen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel_BSNS">Điều chuyển/Thăng chức nhân sự</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-0">
                    <div class="col-12">
                        <label id="lbGhiChuChuyen" for="txtGhiChuChuyen" class="form-label">Ghi chú (*)</label>
                        <textarea class="custom-textarea" id="txtGhiChuChuyen" placeholder="Nhập ghi chú"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label id="lbNhanSuChuyen" for="DropNhanSuChuyen" class="form-label">Nhân sự thay đổi (*)</label>
                        <select id="DropNhanSuChuyen" class="form-control select2" data-placeholder="Chọn nhân sự">
                            <option value="">-- Chọn nhân sự --</option>
                        </select>
                    </div>
                </div> 
                <div class="row" id="row_chucvu">
                    <div class="col-12">
                        <label id="lbChucVuChuyen" for="DropChucVuChuyen" class="form-label">Chức vụ mới (*)</label>
                        <select id="DropChucVuChuyen" class="form-control select2" data-placeholder="Chọn chức vụ">
                            <option value="">-- Chọn chức vụ --</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="row_phongban">
                        <label id="lbPhongBanChuyen" for="DropPhongBanChuyen" class="form-label">Phòng ban chuyển đến (*)</label>
                        <select id="DropPhongBanChuyen" class="form-control select2" data-placeholder="Chọn phòng ban">
                            <option value="">-- Chọn phòng ban --</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="row_coso">
                        <label id="lbCoSoChuyen" for="DropCoSoChuyen" class="form-label">Cơ sở chuyển đến(*)</label>
                        <select id="DropCoSoChuyen" class="form-control select2" data-placeholder="Chọn cơ sở">
                            <option value="">-- Chọn cơ sở --</option>
                        </select>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-12 text-primary" style="font-size: large">
                        <i class="bi bi-info-circle-fill"></i>
                        <label class="col-form-label" id="LuuY">Lưu ý</label>
                    </div>
                    <div class="col-12">
                        <p><i>- Sau khi bạn ấn nút thay đổi, thông tin về nhân sự sẽ được thay đổi và lưu lại lịch sử trong chi tiết nhân sự!</i></p> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>Đóng
                </button>
                <button type="button" class="btn btn-success" id="btnThayDoi">
                    <i class="bi bi-floppy me-2"></i>Thay đổi
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end modal-->
@section Scripts {
    <script src="~/JS/NhanSu/ListNhanSu.js"></script>
    <script>
        $(document).ready(function () {
            var ListNhanSuInstance = new ListNhanSu();
            ListNhanSuInstance.init();
        });
    </script>
}